*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    width: 100%;
}

.center{
    width: 1200px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #212343;
}

.header img{
    margin: 10px;
}

.container-banner{
    width: 100%;
    height: 557px;
    background-image: url('../images/bg.jpg');
    background-size: cover;         /*Cobre toda a área*/
    background-position: center;    /*Posição centro*/

}

.container-banner > .center{
    height: 100%;
}

.form{
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    border: 8px solid rgba(120, 120, 120, 0.5);
    background-clip: padding-box;
    background-color: white;
    /*background-origin tem o mesmo conceito, porém serve para imagens*/
}

.form h2{
    font-weight: normal;
    color: #999999;
    font-size: 21px;
}

.input-container{
    margin-top: 20px;
}

.input-container span, .form p{
    display: inline-block;
    width: 100%;
    color: #bbbbbb;
    font-size: 17px;
}

.form p{
    margin: 20px 0;
}

.input-container input[type="text"],
.input-container input[type="mail"]{
    margin-top: 8px;
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
}

.input-submit-container{
    text-align: center;
}

.input-submit-container input[type="submit"]{
    color: white;
    font-size: 25px;
    width: 280px;
    height: 56px;
    display: inline-block;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    cursor: pointer;
    background-color: #363A6D;
    border-bottom: 5px solid #4a5097;
}

.form input[type="submit"]:hover{
    background-color: #676dbd;
}

.container-list{
    padding: 30px;
    margin-top: 40px;
    float: left;
    width: 619px;
    height: 270px;
    background-color: rgb(33,35,67, 0.7);
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    margin-top: 18px;
    color: white;
}

.container-2{
    padding: 40px 0;
    background-color: #dddddd;
    text-align:center;
}

.container-2 h2{
    font-weight: normal;
}

.container-2 p{
    width: 698px;
    margin: 15px 0;
    display: inline-block;
    text-align: justify;
}

.arrow{
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px; /*centraliza de acordo com o centro da imagem*/
    width: 40px;
    height: 40px;
    background-image: url(../images/arrow.png);
    background-size: 100% 100%;
}
